.answer {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
    
    div {
        display: inline-block;
    }

    .letter {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #000;
        border: 2px solid #eee;
    }

    .selected-letter {
        background-color: #ff8000;
        color: #fff;
        border-color: transparent;
    }

}