<div>
    <div class="question-wrapper">
        <div *ngIf="quiz!=null" >
            <div class="question-number">
                QUESTION  {{currentIndex + 1}} OF {{quiz.question_set.length}}
            </div>
            <app-question [selectedAnswer]="answers[currentIndex]" [question]="quiz['question_set'][currentIndex]" (selectAnswer)="selectAnswer($event)"></app-question>
        </div>
    </div>
    
    <div class="buttons" *ngIf="quiz!=null">
        <button (click)="previous()">
            Previous
        </button>
        <button  (click)="next()" [innerHtml]="currentIndex == quiz.question_set.length - 1 ? 'Submit' : 'Next'">
        </button>
    </div>
</div>